@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Poppins", sans-serif;
}

@theme{
  /* Font Family */
  --font-inter: "Inter", sans-serif;

  /* Font Size */
  --text-custom-xs: 10.66px;
  --text-custom-3xl: 28px;
  --text-custom-4xl: 40px;

  /* Line Height  */
  --spacing-100 : 100%;
  --spacing-130 : 130%;
  --spacing-160 : 160%;

  /* Color */
  --color-blue: #0000F5;
  --color-dark-black: #050505;
  --color-dark-gray: #313131;
  --color-light-white: #FCFCFC;
  --color-red: #F6604C;
  --color-light-gray: #FAFAFA;
  --color-gray: #4F4F4F;
  --color-sky-blue: #CCCDE2;
  --color-dark-blue: #02066F;
  --color-light-blue: #7D80E01A;
}